### Basics of Python

Fill valid code/values in place of blanks.

# Demo
# initialize variable 'msg' with the string 'Hello World'

msg = "Hello World"

In [4]:
# initialize variables 'a' and 'b' with 5 and 6 respectively

# add 'a' and 'b' and assign the result into a new variable 'c'

a = 5
b = 6
c = a+b
print(c)

11

In [5]:
# build a function to add 2 numbers

# use the function 'addition' to add 'a' and 'b'

def addition(a,b):
    sum = a+b
    return sum 

a = 5
b = 8
output = addition(a,b)
print(output)

13

In [6]:
# create a list consisting of first 5 even numbers and print the list

Even_num = [2, 4, 6, 8, 10]
print(Even_num)

[2, 4, 6, 8, 10]

In [7]:
# access the 3rd element of the list 'my_list'

my_list = ["Physics" , "Chemistry" , "Biology" , "Mathematics" , "Bioinformatics"]
my_list[2]

'Biology'

In [8]:
# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'

my_dict = {"Name" : "Natasha" , "Age" : "22" , "Gender" : "Female" , "is_employed" : "No"}


# print 'my_dict'

print(my_dict)

{'Name': 'Natasha', 'Age': '22', 'Gender': 'Female', 'is_employed': 'No'}

In [9]:
# access value under 'name' key from 'my_dict'

my_dict["Name"]

'Natasha'

In [10]:
# update 'is_employed' key to True

my_dict.update({'is_employed':'True'})


# print the updated dictionary
print(my_dict)

{'Name': 'Natasha', 'Age': '22', 'Gender': 'Female', 'is_employed': 'True'}

In [11]:
# use a for loop to print only even numbers from the first 20 numbers, i.e. 1-20

for num in range(1,21):
    if num % 2 == 0:
        print(num, end = " ")

2 4 6 8 10 12 14 16 18 20

### Please download the file "data_python.csv".

In [13]:
# import required libraries pandas and numpy (import numpy as np)

import numpy as np
import pandas as pd

In [21]:
## print the number of rows and number of columns of mydata

mydata = pd.read_csv("C:/Users/91992/Desktop/data_python.csv")

In [77]:
## assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe

target = mydata['Loan_Status']
print(target)

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [23]:
## print the datatype of ApplicantIncome feature

DataType = mydata['ApplicantIncome'].dtypes
print(DataType)

int64

In [34]:
## conditional statement - print 'Yes' if the 21st element of 'Education' feature is 'Graduate' else print 'No'

if mydata.iloc([20 , 4] == 'Graduate'):
    print("Yes")
else:
    print("No")

Yes

In [65]:
## print 31st to 35th rows of mydata

mydata.loc[31:35]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
34,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N
35,LP001106,Male,Yes,0,Graduate,No,2275,2067.0,NaN,360.0,1.0,Urban,Y

In [71]:
## print first 5 rows of 2nd and 3rd column only

mydata.iloc[0:5 , 1:3]

  Gender Married
0   Male      No
1   Male     Yes
2   Male     Yes
3   Male     Yes
4   Male      No